@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}
@section styles{
    @Styles.Render("~/Content/datatables")

}

<h2>Movies</h2>
@Html.ActionLink("new movie", "Save", "Movie", null, new { @class = "btn btn-primary" })
<table id="movies" class="table table-striped">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/datatables");
    <script>
        $(document).ready(function() {
            var table = $('#movies').dataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movies/SaveEdition/" + movie.id + "'>" + movie.name + "</a>";
                        }                    },
                    {
                        data:"genre.description"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                    
                ]
            });
        })
    </script>

}
